@page
@model IndexModel
@{
    ViewData["Title"] = "BESTOS";
}

    <div class="text-center">
        <h1 class="display-4">Welcome BESTOS UNITED</h1>
        <p>Just some random text to make sure app is working</p>
        <p>This is a sample ASP.NET Core app with Razor Pages</p>
    </div> 